<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
   <h1>hello.html</h1>
   key===
   <p th:text="'hello, ' + ${key} + '!'" />
</body>
</html>